<div class="container">


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hotel Details</h4>
            </div>
            <div class="container">
            <div>
                <strong>ID:</strong>
                <p>{{ hotel.id }}</p>
            </div>

            <div>
                <strong>Name:</strong>
                <p>{{ hotel.name }}</p>
            </div>

            <div>
                <strong>Price:</strong>
                <p>{{ hotel.price }}</p>
            </div>

            <div>
                <strong>Description:</strong>
                <p>{{ hotel.description }}</p>
            </div>

            <div>
                <strong>City:</strong>
                <p>{{ hotel.city }}</p>
            </div>

            <div>
                <strong>Phone No:</strong>
                <p>{{ hotel.phoneNo }}</p>
            </div>

            <div class="modal-footer">
                <a href="#" routerLink="/hotel/index" class="btn btn-primary">Back</a>
            </div>
            </div>
        </div>
    </div>
</div>
