<div class="container">


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Movie Details</h4>
            </div>
            <div class="container">
            <div>
                <strong>ID:</strong>
                <p>{{ movie.id }}</p>
            </div>

            <div>
                <strong>Name:</strong>
                <p>{{ movie.name }}</p>
            </div>

            <div>
                <strong>Price:</strong>
                <p>{{ movie.price }}</p>
            </div>

            <div>
                <strong>Description:</strong>
                <p>{{ movie.description }}</p>
            </div>

            <div>
                <strong>Type:</strong>
                <p>{{ movie.type }}</p>
            </div>

            <div class="modal-footer">
                <a href="#" routerLink="/movie/index" class="btn btn-primary">Back</a>
            </div>
            </div>
        </div>
    </div>
</div>
