
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-6">
                    <h2 class="head">Welcome To</h2>
                    <h3 class="head">Hotel Booking Management Portal</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="assets/images/Ticket Booking.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container movies">
  <h2 class="movie-heading">Suggested Movies</h2>

  <div class="card-group">
    <div class="card">
      <img src="assets/images/Dr Strange.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dr Strange in the Multiverse of Madness</h5>
        <p class="card-text">Doctor Strange teams up with a mysterious teenage girl from his dreams
           who can travel across multiverses, to battle multiple threats, including other-universe versions of himself, 
           which threaten to wipe out millions across the multiverse. They seek help from Wanda the Scarlet Witch, Wong 
           and others.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/RRR.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">RRR</h5>
        <p class="card-text">RRR is a 2022 Indian Telugu-language epic action drama film directed by S. S. Rajamouli,
           who wrote the film with V. Vijayendra Prasad. It is produced by D. V. V. Danayya of DVV Entertainment. 
           It is a fictitious story about two legendary revolutionaries and their journey away from home before they started 
           fighting for their country in 1920s.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/images/Jhund.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jhund</h5>
        <p class="card-text">Based on the life of Vijay Barse, a retired sports teacher who founded an NGO called 
          Slum Soccer. He managed to rehabilitate street kids by keeping them off drugs and crime by turning them 
          into soccer players and building a whole team.</p>
      </div>
    </div>
  </div>

  <!-- <div class="card-group">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div> -->

  </div>
