<!DOCTYPE html>
<html  >
<head>
  <title>Home</title>
</head>
<body>
  <section data-bs-version="5.1" class="header14 cid-tbQX2i0B48" id="header14-1">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <!-- <div class="col-12 col-md-6 image-wrapper">
                <img src="/assets/images/client-image.jpg" alt="Image Not Found">
            </div> -->
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2" style="text-align:center">
                        <strong>About Company</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut dapibus massa, efficitur varius augue. In vel elit lorem. Fusce et dui fringilla, suscipit nulla sed, viverra nunc. Nulla ut justo ut enim vehicula maximus. Nam et neque tempus.<br><br>Duis lobortis aliquam varius. Aliquam at metus at urna bibendum aliquet. Curabitur ut commodo ex, nec vehicula eros. Suspendisse dictum eu tortor id aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<br></p>

                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section data-bs-version="5.1" class="team1 cid-tbQX6E5jKv" id="team1-2">



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 style="text-align:center" class="mbr-section-title1 mbr-fonts-style align-center mb-5 display-2">
                    <strong>Professional Team</strong>
                </h3>

            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <!-- <div class="image-wrap">
                        <img src="/assets/images/NamanGarg.jpg" alt="Image Not Found">
                    </div> -->
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5"><strong>Ayush Raj Vaish</strong></h5>

                        <p class="card-text mbr-fonts-style align-center display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <!-- <div class="image-wrap">
                        <img src="" alt="Image Not Found">
                    </div> -->
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5"><strong>Aditya Pal</strong></h5>

                        <p class="card-text mbr-fonts-style align-center display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>


                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <!-- <div class="image-wrap">
                        <img src="assets/images/mbr-2-596x397.jpg" alt="Image Not Found">
                    </div> -->
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5"><strong>Gaurav Chauhan</strong></h5>

                        <p class="card-text mbr-fonts-style align-center display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>


                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <!-- <div class="image-wrap">
                        <img src="assets/images/mbr-596x401.jpeg" alt="Image Not Found">
                    </div> -->
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5"><strong>Naman Garg</strong></h5>

                        <p class="card-text mbr-fonts-style align-center display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section data-bs-version="5.1" class="team1 cid-tbQX6UbZOI" id="team1-3">



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <!-- <div class="image-wrap">
                        <img src="/assets/images/pic.jpg" alt="image not found">
                    </div> -->
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5"><strong>Disha Khubani</strong></h5>
                        <p class="card-text mbr-fonts-style align-center display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscbbbbbbbbbbbbbnbnbnnbnnbnbnbing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<img src="assets/images/slider-dec">
</body>
</html>
