<div class="container">

    <div class="modal-dialog">
        <div class="modal-content">

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-header">
            <h4 class="modal-title">Edit Movie</h4>
        </div>
        <div class="modal-body">

        <div class="form-group">
            <input
                formControlName="id"
                id="id"
                type="number"
                [(ngModel)]="movie.id"
                class="form-control" style="display:none">
        </div>


        <div class="form-group">
            <label for="name">Name:</label>
            <input
                formControlName="name"
                id="name"
                type="text"
                [(ngModel)]="movie.name"
                class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors?.required">Name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input
                formControlName="price"
                id="price"
                type="number"
                [(ngModel)]="movie.price"
                class="form-control">
            <div *ngIf="f.price && f.price.invalid" class="alert alert-danger">
                <div *ngIf="f.price.errors?.required">Price is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input
                formControlName="description"
                id="description"
                type="text"
                [(ngModel)]="movie.description"
                class="form-control">
            <div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
                <div *ngIf="f.description.errors?.required">Description is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="type">Type</label>
            <input
                formControlName="type"
                id="type"
                type="text"
                [(ngModel)]="movie.type"
                class="form-control">
            <div *ngIf="f.type.touched && f.type.invalid" class="alert alert-danger">
                <div *ngIf="f.type.errors?.required">Type is required.</div>
            </div>
        </div>

        </div>
        
        <div class="modal-footer">
        <a href="#" routerLink="/movie/index" class="btn btn-primary">Back</a>
        <input type="submit" class="btn btn-success" [disabled]="!form.valid" value="Update">
        </div>
    </form>
</div>
</div>
</div>
